<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>简单Vue双向绑定</title>
</head>
<script src="./vue.js"></script>
<body>
  <div id='app'>
      <h2>简单模拟Vue双向绑定</h2>
      <div on-click="click">
        点击事件: {{add}}次
      </div>
      <p>这是textaread的值: {{textarea}}</p>
      <textarea v-model="textareaData"></textarea>
      <div>这是input值：{{input}}</div>
      <div><input name="input1" v-model="inputData" ></div>
      <div id="appp">
        <p>这是测试节点的·····</p>
        <input name="input2" v-model="inputData2" >
        <div>
          <span>这也是测试节点的·····</span>
        </div>
        
      </div>
  </div>
</body>
<script>
var vm = new Vue({
  el:'app',
  data: {
    inputData: 'aaa',
    textareaData: 'ccc',
    add: 0,
    inputData2: 222
  },
  methods: {
    click(e) {
      console.log('点击事件',this)
      // this.setData({add: this.data.add})
    }
  }
})
// console.log(vm,'vue-dom')
</script>
</html>