<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>简单MVVM双向绑定</title>
</head>
<script src="./vue.js"></script>
<script src="./Compile.js"></script>
<script src="./observer.js"></script>
<script src="./Watcher.js"></script>
<body>
  <div id='app'>
      <h2 name="aa">简单模拟MVVM双向绑定</h2>
      <div on-click="click">
        点击事件: <span>{{add}}</span>次
      </div>
      <p>这是textaread的值: {{textareaData}}</p>
      <textarea v-model="textareaData"></textarea>
      <div>这是input值：{{inputData}}</div>
      <div><input v-model="inputData"></div>
      <div id="appp">
        <p>这是测试节点的：<span>{{inputData2.text}}</span></p>
        <input v-model="inputData2.text" >
        <div>
          <span>这也是测试节点的·····</span>
        </div>
        
      </div>
  </div>
</body>
<script>
var vm = new Vue({
  el:'app',
  data: {
    inputData: '输入框',
    textareaData: '文本输入框',
    add: 0,
    inputData2: {
      text: '对象节点的值'
    }
  },
  methods: {
    click(e) {
      this.add++
      console.log('点击了',this.add,'次')
      // alert('我是点击事件')
    },

  }
})
// console.log(vm,'vue-dom')
</script>
</html>